body {
    background-color: black;
    color:  blue;
    font-family:'arial';
}
  ul {display:flex; 
    flex-direction: row; 
    justify-content: space-between;
     list-style-type: style 
     align-items: center;
     padding: 16px;
